################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/OfficeTools/v16
/Office365_E5_Renew/x64/Debug
/OfficeExcelTools/obj/Debug
/OfficeExcelTools/bin/Debug
/OneNoteTools/.vscode
/.vs
/x64/Debug
/Secret
/OneNoteTools/bin/Debug
/OneNoteTools/obj
/Temp
/Share/bin
/Share/lib
/Share/lib/Debug/x86
/packages
Share/